$font-stack:    'Arial', sans-serif;

$gradient-color1: #168364;
$gradient-color2: #0F674E;
$gradient-color3: #073228;

$border-color: #6D3419;
$border-width-sm: 10px;
$border-width-md: 20px;
$border-width-lg: 30px;

$white: #FFFFFF;
$black: #000000;

//questions
$button-border-width: 2px;
$button-width-sm: 50px;
$button-height-sm: 40px;

$button-width-md: 60px;
$button-height-md: 50px;

$button-width-lg: 80px;
$button-height-lg: 70px;

//result
$chart-red: #D0435F;
$chart-yellow: #DFA548;
